# Public frontend defaults
NEXT_PUBLIC_GRAPHQL_ENDPOINT=http://127.0.0.1:4001/graphiql
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL_SHORT=http://localhost:3000
NEXT_PUBLIC_ASSETS_ENDPOINT=https://static.groupher.com
NEXT_PUBLIC_ICON=https://static.groupher.com/icons/static
NEXT_PUBLIC_ICON_BASE=https://static.groupher.com/icons
NEXT_PUBLIC_DEFAULT_ICON=https://static.groupher.com/icons/cmd/cheatsheet.svg
NEXT_PUBLIC_DEFAULT_USER_AVATAR=https://static.groupher.com/icons/cmd/alien_user3.svg
NEXT_PUBLIC_GITHUB=https://github.com/groupher
NEXT_PUBLIC_GITHUB_WEB_ADDR=https://github.com/groupher/groupher_web
NEXT_PUBLIC_ABOUT_LINK=/w/5
NEXT_PUBLIC_ISSUE_ADDR=https://github.com/groupher/groupher_web/issues
NEXT_PUBLIC_MENTION_USER_ADDR=https://groupher.com/users/
NEXT_PUBLIC_EMAIL_SUPPORT=groupher@outlook.com

# Private values: keep these in .env.local or your hosting platform secrets
NEXTAUTH_SECRET=
OAUTH_TRUST_CODE=
