**/.next/
node_modules/
npm-debug.log
build

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

frontend/**/out/

coverage/
.coveralls.yml
yarn-error.log
.env.local
schema.graphql

# Cypress (Cypress 8.x)
cypress/integration/examples/

.DS_Store
cypress/videos/*

# build artifacts
tsconfig.tsbuildinfo
bun.lockb
*.tsbuildinfo
.VSCodeCounter/
.deepseekrc

# SW / Worker outputs for monorepo frontend
frontend/**/public/workbox-*.js
frontend/**/public/sw.js
frontend/**/public/sw.js.map
frontend/**/public/worker-*.js
frontend/**/public/fallback-*.js
frontend/**/public/*.js.map

# App artifacts
backend/main/_build
backend/main/db
backend/main/deps
backend/main/*.ez

# Crash logs
backend/main/erl_crash.dump

# Secrets
backend/main/config/*.secret.exs
backend/main/config/_tmp.exs

backend/main/_tuts/
.agignore
backend/main/docs/draft.ex
backend/main/cover/excoveralls.html
backend/main/.elixir_ls/