:root {
  --page-light-pureWhite: #fff;
  --page-light-solarized: #FEF6E4;
  --page-light-hackerNews: #F6F6F0;
  --page-light-lightGrey: #FAFAF9;
  --page-light-floralWhite: #FFFAF0;
  --page-light-mintWhite: #F5FEFA;
  --page-light-pink: #fff8fd;
  --page-light-todo2: #FDF2E8;
  --page-light-blue2: #F0F6FB;
  --page-light-purple: #F5F2FE;
  --page-light-todo: #FEF8F7;

  --page-dark-charcoalGray: #121212;
  --page-dark-darkSlateGray: #191919;
  --page-dark-outerSpace: #212121;
  --page-dark-richBlack: #0A0A0A;
  --page-dark-coffeeBean: #1B1B1B;
  --page-dark-ubuntu: #240e1d;
  --page-dark-obsidian: #0B1215;
  --page-dark-solarized: #002B35;
  --page-dark-blackChocolate: #100D08;
  --page-dark-gunmetal: #1D1F21;
  --page-dark-smokyBlack: #101720;
  --page-dark-oxfordBlue: #212A37;
  --page-dark-eerieBlack: #232023;
  --page-dark-daylightGreen: #1C1D12;
  --page-dark-jetBlack: #161618;
  --page-dark-arsenic: #11181C;
}