:root {
  /* light */
  --color-page-pureWhite: #fff;
  --color-page-solarized: #fef6e4;
  --color-page-hackerNews: #f6f6f0;
  --color-page-lightGrey: #fafaf9;
  --color-page-floralWhite: #fffaf0;
  --color-page-mintWhite: #f5fefa;
  --color-page-pink: #fff8fd;
  --color-page-todo2: #fdf2e8;
  --color-page-blue2: #f0f6fb;
  --color-page-purple: #f5f2fe;
  --color-page-todo: #fef8f7;

  /* dark */
  --color-page-charcoalGray: #121212;
  --color-page-darkSlateGray: #191919;
  --color-page-outerSpace: #212121;
  --color-page-richBlack: #0a0a0a;
  --color-page-coffeeBean: #1b1b1b;
  --color-page-ubuntu: #240e1d;
  --color-page-obsidian: #0b1215;
  --color-page-solarizedDark: #002b35;
  --color-page-blackChocolate: #100d08;
  --color-page-gunmetal: #1d1f21;
  --color-page-smokyBlack: #101720;
  --color-page-oxfordBlue: #212a37;
  --color-page-eerieBlack: #232023;
  --color-page-daylightGreen: #1c1d12;
  --color-page-jetBlack: #161618;
  --color-page-arsenic: #11181c;
}
