:root {
  /* ===== Light mode shadows ===== */
  --shadow-sm: rgba(100, 100, 111, 0.1) 1px 2px 29px 0px;
  --shadow-md: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  --shadow-lg: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --shadow-card: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --shadow-xl: -3px 2px 20px 0px rgb(58 58 58 / 15%);
  --shadow-drawer: -8px 8px 20px 11px rgb(143 143 143 / 2%);
  --shadow-modal: -2px 4px 20px 0px rgb(158 157 157 / 23%);
}

.dark {
  --shadow-sm: #19191b66 1px 2px 29px 0px;
  --shadow-md: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  --shadow-lg: -9px 7px 20px 9px rgb(24 24 24 / 15%);
  --shadow-card: -9px 7px 20px 9px rgb(24 24 24 / 15%);
  --shadow-xl: -9px 7px 20px 9px rgb(24 24 24 / 44%);
  --shadow-drawer: -13px 1px 20px 11px rgb(0 0 0 / 9%);
  --shadow-modal: -4px 5px 20px 5px rgb(21 21 21 / 47%);
}
