:root {
  --z-modal: 3000;
  --z-popover: 2999;
  --z-tooltip: 2998;
  --z-modalOverlay: 2997;
  --z-modalCloseBtn: 2999;
  --z-drawer: 2994;
  --z-drawerOverlay: 2993;
  --z-sidebar: 2992;
  --z-articleFixedHeader: 2000;
  --z-header: 20;
}