.rs-table-bordered {
    border: 1px solid var(--color-table-border);
}

.rs-table-cell, .rs-table-row-header {
  background: transparent;
}
/* .rs-table-cell-group-fixed-left {
  background: transparent;
} */

.rs-table-row-header .rs-table-cell {
  background: transparent;
}

.rs-table-cell-bordered .rs-table-cell {
  border-right: 1px solid var(--color-table-border);
}
.rs-table-cell {
  border-bottom: 1px solid var(--color-table-border);
}

.rs-table-row:hover {
  background: transparent;
}

.rs-table-body-row-wrapper:hover  {
  background: transparent; 
}
