@config "../tailwind.config.js";

@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "@tailwindcss/typography";

@import "./tokens";
@import "./safelist";
@import "./common";
@import "./landing";

@layer base {
  :root {
    text-autospace: normal;
    --rainbow-custom: #94c37e;
    --rainbow-custom-dark: #e08a85;
  }

  body {
    overflow-x: hidden;
  }

  .masonry-cards-grid {
    display: flex;
    width: auto;
  }
  .masonry-cards-grid_column {
    background-clip: padding-box;
    padding: 8px;
  }

  .keyboard-block {
     /* --key-bg-start-color: #0f0f0f;
     --key-bg-end-color: #181818; */
     --key-bg-start-color: #232323;
     --key-bg-end-color: #181818;

     display: grid;
     flex-shrink: 0;
     grid-template-rows: 1fr 1fr;
     width: 110px;
     height: 100%;
     padding: 14.5px 15px;
     font-family: "SF Pro Text","SF Pro Icons",var(--font-inter);
     font-size: 23.75px;
     font-weight: 500;
     text-shadow: 0 .5px .5px rgba(0,0,0,.1);
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
     background: radial-gradient(75% 75% at 50% 91.9%,var(--key-bg-start-color) 0,var(--key-bg-end-color) 100%);
     border-radius: 11px;
     box-shadow: 0 1.5px .5px 2.5px rgba(0,0,0,.4),0 0 .5px 1px #000,inset 0 2px 1px 1px rgba(0,0,0,.25),inset 0 1px 1px 1px hsla(0,0%,100%,.2),inset 0 0 0 0 transparent;
     transition: opacity .4s cubic-bezier(.23,1,.32,1),box-shadow .2s cubic-bezier(.23,1,.32,1),transform .2s cubic-bezier(.23,1,.32,1),color .2s cubic-bezier(.23,1,.32,1),--key-bg-start-color .4s cubic-bezier(.23,1,.32,1),--key-bg-end-color .4s cubic-bezier(.23,1,.32,1)
  }
}
