@config "../tailwind.config.js";

@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "@tailwindcss/typography";

@import "./tokens";

@import "./safelist";
@import "./common";

@layer base {
  :root  {
    text-autospace: normal;
    --rainbow-custom: #94c37e;
    --rainbow-custom-dark: #e08a85;
  }

  body {
    overflow-x: hidden;
  }
}
