AUTH_URL=https://groupher.localhost
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
NEXTAUTH_SECRET=
GROUPHER_SERVER_TRUST_SECRET=
PHOENIX_GRAPHQL_ENDPOINT=http://127.0.0.1:4001/graphiql
AUTH_COOKIE_DOMAIN=.groupher.localhost
