@theme {
  --color-container: #fff;
  --color-divider: #eae9e9;

  /* articles */
  --color-text-title: oklch(27.8% 0.033 256.848); /* gray.800 */
  --color-text-digest: oklch(55.1% 0.027 264.364); /* gray.500 */
  --color-link: #5073C6;
  --color-dot: oklch(55.4% 0.046 257.417); /* slate.500 */

  /* utils */
  --color-button-fg: white;


  /* rainbow colors  */
  --color-rainbow-red: #ca5f4d;
  --color-rainbow-redSoft: #FFEBEC;

  --color-rainbow-orange: orange;
  --color-rainbow-orangeSoft: #FEF7E8;

  --color-rainbow-brown: #8d691e;
  --color-rainbow-brownSoft: #fff3df;

  --color-rainbow-yellow: #c7b96d;
  --color-rainbow-yellowSoft: #FEFBE8;

  --color-rainbow-green: #699411;
  --color-rainbow-greenSoft: #eefdd89c;

  --color-rainbow-greenLight: #79d08f;
  --color-rainbow-greenLightSoft: #e3f3cc4a;

  --color-rainbow-cyan: #24878C;
  --color-rainbow-cyanSoft: #e1fcff;

  --color-rainbow-cyanLight: #00B5CC;
  --color-rainbow-cyanLightSoft: #e1fcff94;

  --color-rainbow-blue: #5073C6;
  --color-rainbow-blueSoft: #E7EDF7;

  --color-rainbow-purple: #7d519e;
  --color-rainbow-purpleSoft: #f7d8fd38;

  --color-rainbow-pink: #b36976;
  --color-rainbow-pinkSoft: #ffd8ea59;

  --color-rainbow-black: #333333;
  --color-rainbow-blackBtn: oklch(27.8% 0.033 256.848); /* gray.800 */
  --color-rainbow-blackSoft: #f4f4f4;
}

/* dark mode */
@layer theme {
  .dark {
    --color-container: #222222;

    /* articles */
    --color-text-title: oklch(96.7% 0.003 264.542);
    --color-text-digest: oklch(70.5% 0.015 286.067);
    --color-link: #6B97D4;
    --color-dot: oklch(70.4% 0.04 256.788); /* slate.400 */

    /* utils */
    --color-button-fg: #f1f1f1;

    /* rainbow colors */
    --color-rainbow-red: #ca5f4d;
    --color-rainbow-redSoft: #7d3b363d;

    --color-rainbow-orange: #ffa500c7;
    --color-rainbow-orangeSoft: #3f332dba;

    --color-rainbow-brown: #a77c22;
    --color-rainbow-brownSoft: #3a342b;

    --color-rainbow-yellow: #dac933cf;
    --color-rainbow-yellowSoft: #a9a06a30;

    --color-rainbow-green: #699411;
    --color-rainbow-greenSoft: #4248374a;

    --color-rainbow-greenLight: #37B784;
    --color-rainbow-greenLightSoft: #69735a4a;

    --color-rainbow-cyan: #24878C;
    --color-rainbow-cyanSoft: #2c3738;

    --color-rainbow-cyanLight: #00B5CC;
    --color-rainbow-cyanLightSoft: #39494b94;

    --color-rainbow-blue: #3a7ec7;
    --color-rainbow-blueSoft: #27324c54;

    --color-rainbow-purple: #7d519e;
    --color-rainbow-purpleSoft: #4a334f38;

    --color-rainbow-pink: #b36976;
    --color-rainbow-pinkSoft: #73526159;

    --color-rainbow-black: #4e4e4e;
    --color-rainbow-blackBtn: #e6e6e6;
    --color-rainbow-blackSoft: #313131;
  }
}
