@utility container-landing {
  --container-pl: theme('spacing.0');
  --container-pr: theme('spacing.0');

  margin-inline: auto;
  max-width: var(--container-landing-width);
  padding-left: var(--container-pl);
  padding-right: var(--container-pr);
}

/* Article */
@utility container-article {
  --container-pl: theme('spacing.5');
  --container-pr: theme('spacing.5');

  margin-inline: auto;
  max-width: var(--container-article-width);
  padding-left: var(--container-pl);
  padding-right: var(--container-pr);

  @media (min-width: theme('screens.lg')) {
    --container-pl: theme('spacing.5');
    --container-pr: theme('spacing.5');
  }

  @media (min-width: theme('screens.xl')) {
    --container-pl: theme('spacing.14'); /* xl px-14 */
    --container-pr: theme('spacing.14');
  }
}

@utility container-community {
  --container-pl: theme('spacing.5');
  --container-pr: theme('spacing.5');

  margin-inline: auto;
  max-width: var(--container-community-width);
  padding-left: var(--container-pl);
  padding-right: var(--container-pr);

  @media (min-width: theme('screens.lg')) {
    --container-pl: theme('spacing.5');
    --container-pr: theme('spacing.5');
  }

  @media (min-width: theme('screens.xl')) {
    --container-pl: theme('spacing.40');
    --container-pr: theme('spacing.40');
  }
}


/* Apply community */
@utility container-apply-community {
  --container-pl: theme('spacing.5');
  --container-pr: theme('spacing.5');

  margin-inline: auto;
  max-width: var(--container-apply-community-width);
  padding-left: var(--container-pl);
  padding-right: var(--container-pr);

  @media (min-width: theme('screens.lg')) {
    --container-pl: theme('spacing.5');
    --container-pr: theme('spacing.5');
  }

  @media (min-width: theme('screens.xl')) {
    --container-pl: theme('spacing.8');  /* 32px */
    --container-pr: theme('spacing.7'); /* 28px */
  }
}

/* Dashboard */
@utility container-dashboard {
  --container-pl: theme('spacing.20');
  --container-pr: theme('spacing.16');

  margin-inline: auto;
  max-width: var(--container-dashboard-width);

  padding-left: var(--container-pl);
  padding-right: var(--container-pr);

  @media (min-width: theme('screens.lg')) {
    --container-pl: theme('spacing.20');
    --container-pr: theme('spacing.16');
  }

  @media (min-width: theme('screens.xl')) {
    --container-pl: theme('spacing.36');
    --container-pr: theme('spacing.20');
  }
}


/* Community sidebar */
@utility container-community_sidebar {
  --container-pl: theme('spacing.3');
  --container-pr: theme('spacing.3');

  margin-inline: auto;
  max-width: var(--container-community-sidebar-width);
  padding-left: var(--container-pl);
  padding-right: var(--container-pr);

  @media (min-width: theme('screens.lg')) {
    --container-pl: theme('spacing.3');
    --container-pr: theme('spacing.3');
  }

  @media (min-width: theme('screens.xl')) {
    --container-pl: theme('spacing.5'); /* 20px */
    --container-pr: theme('spacing.5');
  }
}

@utility breakout-container {
  margin-left: calc(var(--container-pl, 0px) * -1);
  margin-right: calc(var(--container-pr, 0px) * -1);
}
