@utility container-landing {
  --container-pl: theme('spacing.0');
  --container-pr: theme('spacing.0');

  padding-left: var(--container-pl);
  padding-right: var(--container-pr);
}

@utility container-landing-wrapper {
  margin-inline: auto;
  max-width: var(--container-landing-width);
}

@utility container-article-wrapper {
  margin-left: max(
    0px,
    calc((100% - var(--container-article-width)) / 2 - var(--container-article-left-shift))
  );
  margin-right: auto;
  max-width: var(--container-article-width);
}

@utility container-community {
  --container-pl: theme('spacing.5');
  --container-pr: theme('spacing.5');

  padding-left: var(--container-pl);
  padding-right: var(--container-pr);

  @media (min-width: theme('screens.lg')) {
    --container-pl: theme('spacing.5');
    --container-pr: theme('spacing.5');
  }

  @media (min-width: theme('screens.xl')) {
    --container-pl: theme('spacing.40');
    --container-pr: theme('spacing.40');
  }
}

@utility container-community-wrapper {
  margin-inline: auto;
  max-width: var(--container-community-width);
}

@utility container-community-doc {
  --container-pl: theme('spacing.12');
  --container-pr: theme('spacing.12');
}

/* Dashboard */
@utility container-dashboard {
  --container-pl: theme('spacing.20');
  --container-pr: theme('spacing.20');

  padding-left: var(--container-pl);
  padding-right: var(--container-pr);

  @media (min-width: theme('screens.lg')) {
    --container-pl: theme('spacing.20');
    --container-pr: theme('spacing.16');
  }

  @media (min-width: theme('screens.xl')) {
    --container-pl: theme('spacing.20');
    --container-pr: theme('spacing.20');
  }
}

@utility container-dashboard-wrapper {
  margin-inline: auto;
  max-width: var(--container-dashboard-width);
}

/* Community sidebar */
@utility container-community_sidebar {
  --container-pl: theme('spacing.3');
  --container-pr: theme('spacing.3');

  padding-left: var(--container-pl);
  padding-right: var(--container-pr);

  @media (min-width: theme('screens.lg')) {
    --container-pl: theme('spacing.3');
    --container-pr: theme('spacing.3');
  }

  @media (min-width: theme('screens.xl')) {
    --container-pl: theme('spacing.5'); /* 20px */
    --container-pr: theme('spacing.5');
  }
}

@utility container-community_sidebar-wrapper {
  margin-inline: auto;
  max-width: var(--container-community-sidebar-width);
}

@utility breakout-container {
  margin-left: calc(var(--container-pl, 0px) * -1);
  margin-right: calc(var(--container-pr, 0px) * -1);
}
